= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :age
    = f.number_field :age, class: 'form-control'
  .form-group
    = f.label :gender
    = f.select :gender, options_from_collection_for_select(@genders, :id, :name), class: 'form-control', prompt: '-'
  .form-group
    = f.label :condition
    = f.select :condition, options_from_collection_for_select(@conditions, :id, :name), class: 'form-control', prompt: '-'
  .actions
    = f.submit 'Save', class: 'btn btn-info'
