%h1 TICKLE Clients

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Age
      %th Gender
      %th Condition
      %th Quote
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.name
        %td= client.age
        %td= client.gender.name
        %td= client.condition.name
        %td= number_to_currency(client.quote)
        %td= link_to 'View', client, class: 'btn btn-primary'
        %td= link_to 'Edit', edit_client_path(client), class: 'btn btn-warning'
        %td= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Client', new_client_path, class: 'btn btn-success'
