%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b Age:
  = @client.age
%p
  %b Gender:
  = @client.gender.name
%p
  %b Condition:
  = @client.condition.name
%p
  %b Quote:
  = number_to_currency(@client.quote)

= link_to 'Back', clients_path, class: 'btn btn-info'
\|
= link_to 'Edit', edit_client_path(@client), class: 'btn btn-warning'
