%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b Age:
  = @client.age
%p
  %b Gender:
  = @client.gender
%p
  %b Condition:
  = @client.condition
%p
  %b Quote:
  = @client.quote

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
